<section class="bg-gray-50">
  <div class="max-w-7xl mx-auto px-6 py-24 text-center">
    <h2 class="text-3xl sm:text-4xl font-extrabold text-gray-900 mb-6">
      Entendemos tus retos
    </h2>

    <p class="text-gray-600 max-w-2xl mx-auto mb-16">
      Identificamos problemas técnicos en software, electrónica y equipos biomédicos, 
      y los resolvemos de forma práctica y funcional.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Card 1 -->
      <div class="bg-white p-8 rounded-2xl shadow-sm hover:shadow-md transition">
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-50 text-blue-600 font-bold"
        >
          1
        </div>
        <h3 class="text-xl font-semibold text-gray-900 mb-4">
          ¿Tu sistema web no funciona como debería?
        </h3>
        <p class="text-gray-600">
           Muchas soluciones se quedan en lo visual. 
           Desarrollamos aplicaciones web estables, seguras y adaptadas a procesos reales.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="bg-white p-8 rounded-2xl shadow-sm hover:shadow-md transition">
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-50 text-blue-600 font-bold"
        >
          2
        </div>
        <h3 class="text-xl font-semibold text-gray-900 mb-4">
          ¿Procesos manuales o sistemas desconectados?
        </h3>
        <p class="text-gray-600">
          Diseñamos soluciones electrónicas y software que automatizan tareas, 
      </div>
      <!-- Card 3 -->
      <div class="bg-white p-8 rounded-2xl shadow-sm hover:shadow-md transition">
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-50 text-blue-600 font-bold"
        >
          3
        </div>
        <h3 class="text-xl font-semibold text-gray-900 mb-4">
          ¿Equipos sin soporte técnico confiable?
        </h3>
        <p class="text-gray-600">
          Realizamos mantenimiento y soporte de equipos biomédicos, priorizando seguridad, 
          funcionamiento y continuidad operativa.
        </p>
      </div>
    </div>
  </div>
</section>
