<section class="bg-white">
  <div
    class="max-w-7xl mx-auto px-6 py-24 grid grid-cols-1 lg:grid-cols-2 gap-16 items-center"
  >
    <!-- TEXTO -->
    <div>
      <span
        class="inline-flex items-center gap-2 mb-6 text-sm font-medium text-blue-600 bg-blue-50 px-4 py-1.5 rounded-full"
      >
        Tecnología hecha en Colombia
      </span>

      <h1
        class="text-4xl sm:text-5xl xl:text-6xl font-extrabold text-gray-900 leading-tight mb-6"
      >
        Tu Negocio Digital,
        <span class="text-blue-600">Simple y Cercano</span>
      </h1>

      <p class="text-gray-600 text-lg max-w-xl mb-10">
        Llevamos tu empresa al siguiente nivel con soluciones tecnológicas
        personalizadas. Sin complicaciones, sin tecnicismos y con resultados
        reales.
      </p>

      <div class="flex flex-wrap gap-4">
        <a
          routerLink="/formulario"
          class="inline-flex items-center justify-center px-6 py-3 text-white bg-blue-600 hover:bg-blue-700 rounded-lg font-medium transition"
        >
          Cotiza sin compromiso
        </a>

  <a
  href="https://wa.me/573000000000"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-6 py-3
         border border-gray-300 rounded-lg font-medium text-gray-700
         hover:bg-gray-50 transition"
>
  <!-- Icono WhatsApp -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="w-5 h-5"
    fill="none"
    stroke="#20a01d"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.7"
  >
    <path d="m3 21l1.65-3.8a9 9 0 1 1 3.4 2.9z"/>
    <path d="M9 10a.5.5 0 0 0 1 0V9a.5.5 0 0 0-1 0za5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1"/>
  </svg>

  <span>WhatsApp</span>
</a>

      </div>
    </div>

    <!-- IMAGEN -->
    <div class="relative">
      <img
        src="assets/imagenes/hero.png"
        alt="Equipo trabajando en soluciones digitales"
        class="w-full h-full object-cover rounded-2xl shadow-xl"
      />
    </div>
  </div>
</section>

