<section class="bg-white">
  <div class="max-w-7xl mx-auto px-6 py-24">
    <div class="flex flex-col md:flex-row md:items-end md:justify-between mb-16">
      <div>
        <h2 class="text-3xl sm:text-4xl font-extrabold text-gray-900 mb-4">
          Nuestras soluciones
        </h2>
        <p class="text-gray-600 max-w-2xl">
          Herramientas tecnológicas diseñadas para potenciar tu empresa y
          optimizar tus procesos.
        </p>
      </div>

      <a
        routerLink="/servicios"
        class="mt-6 md:mt-0 text-blue-600 font-medium hover:underline"
      >
        Ver todo el portafolio →
      </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Servicio 1 -->
      <div class="bg-gray-50 p-8 rounded-2xl hover:shadow-md transition">
          <img
    src="/assets/imagenes/it.jpg"
    class="w-full h-40 object-cover rounded-xl mb-6"/>
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-100 text-blue-600">
          <!-- Icono web -->
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" 
          viewBox="0 0 24 24">
          <path fill="#194ff8" d="M0 20v-2h3l-1-1V3h20v14l-1 1h3v2zm12-1q.425 0 .713-.288T13 
          18t-.288-.712T12 17t-.712.288T11 18t.288.713T12 19"/></svg>
        </div>

        <h3 class="text-xl font-semibold text-gray-900 mb-3">
          Desarrollo web a medida
        </h3>

        <p class="text-gray-600 mb-6">
        Páginas rápidas, modernas y 100% adaptables a dispositivos móviles. 
        Tu vitrina digital abierta 24/7.
        </p>

        <a
          routerLink="/ti"
          class="text-blue-600 font-medium hover:underline">
          Saber más →
        </a>
      </div>

      <!-- Servicio 2 -->
      <div class="bg-gray-50 p-8 rounded-2xl hover:shadow-md transition">
                  <img
    src="/assets/imagenes/electronica.jpg"
    class="w-full h-40 object-cover rounded-xl mb-6"/>
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-100 text-blue-600"
        >
          <!-- Icono automatización -->
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" 
          viewBox="0 0 24 24">
          <path fill="#194ff8" d="M12 3L2 12h3v8h14v-8h3zm0 5.5c2.34 0 4.46.93 6 2.44l-1.2 
          1.18a6.8 6.8 0 0 0-4.8-1.95c-1.88 0-3.58.74-4.8 1.95L6 10.94a8.54 8.54 0 0 1 6-2.44m0 
          3.33c1.4 0 2.67.56 3.6 1.47l-1.2 1.17a3.4 3.4 0 0 0-2.4-.97c-.94 0-1.79.37-2.4.97L8.4 
          13.3a5.13 5.13 0 0 1 3.6-1.47m0 3.34c.94 0 1.7.74 1.7 1.66s-.76 1.67-1.7 
          1.67s-1.7-.75-1.7-1.67s.76-1.66 1.7-1.66"/>
          </svg>
        </div>

        <h3 class="text-xl font-semibold text-gray-900 mb-3">
          Automatización de Procesos
        </h3>

        <p class="text-gray-600 mb-6">
        Ahorra tiempo y dinero. Conectamos tus herramientas para que trabajen por ti.
        </p>

        <a
          routerLink="/electronica"
          class="text-blue-600 font-medium hover:underline"
        >
          Saber más →
        </a>
      </div>

      <!-- Servicio 3 -->
      <div class="bg-gray-50 p-8 rounded-2xl hover:shadow-md transition">
                  <img
    src="/assets/imagenes/biomedica.jpg"
    class="w-full h-40 object-cover rounded-xl mb-6"/>
        <div
          class="w-12 h-12 mb-6 flex items-center justify-center rounded-full bg-blue-100 text-blue-600"
        >
          <!-- Icono soporte -->
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" 
          viewBox="0 0 48 48"><g fill="#194ff8" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M13 13a1 1 0 0 0-1 1v15.96a1 1 0 0 0 1 1h10v2.142h-4.538v2h11.077v-2H25v-2.143h10a1 
          1 0 0 0 1-1V14a1 1 0 0 0-1-1zm9.907 2.694l-3.403 5.985h-5.658v1.987h6.833l1.619-2.847l1.891 
          6.548l4.43-5.633h4.53a1 1 0 0 0 1.005-.993a1 1 0 0 0-1.005-.994h-5.513l-2.602 3.31z"/>
          <path d="M9 6a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h30a3 3 0 0 0 3-3V9a3 3 0 0 0-3-3zm31 
          3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v30a1 1 0 0 0 1 1h30a1 1 0 0 0 1-1z"/></g>
        </svg>
        </div>

        <h3 class="text-xl font-semibold text-gray-900 mb-3">
          Soporte técnico biomédico
        </h3>

        <p class="text-gray-600 mb-6">
          Mantenimiento y soporte confiable para equipos biomédicos.
        </p>

        <a
          routerLink="/biomedica"
          class="text-blue-600 font-medium hover:underline"
        >
          Saber más →
        </a>
      </div>
    </div>
  </div>
</section>
